# Site settings
title:          ether.cards
email:          cards@arachnidlabs.com
author:         Arachnid Labs
description:    "Ether, crystallized."
baseurl:        ""
url:            "https://ether.cards"
excerpt_separator: "<!-- more -->"

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: false
share_text: 'Share this post!'
# Change to 'true' to enable individual icons
share_facebook: false
share_twitter: false
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: false
share_stumbleupon: false

# Build settings
permalink:    /blog/:categories/:year/:month/:day/:title/
paginate:     10
paginate_path: "/blog/page:num/"
sass:
  compressed: true

gems:
- jekyll-paginate
- jekyll-browserify

browserify:
  npm_install: true
